[Unit]
Description=Service for managing eQual user instances.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php -S 0.0.0.0:8000 -t /root/b2 /root/b2/listener.php >> b2-listener.log 2>&1
WorkingDirectory=/root/b2
Restart=always
SyslogIdentifier=b2-listener

[Install]
WantedBy=multi-user.target
