# This file is part of the B2 package <http://github.com/yesbabylon/b2>
# Some Rights Reserved, Yesbabylon, 2025
# Licensed under MIT License <https://opensource.org/licenses/MIT>
# 
# Docker Compose file template for setting up an eQual framework environment
#
# This setup includes:
# - A MySQL database container (mysql/mysql:5.7)
# - A phpMyAdmin container (phpmyadmin/phpmyadmin:latest)
# - An eQual container (equalframework/equal:latest)
#
# Networks:
# - "internal_{{db_ID}}": Used for communication between services of the stack (segregation between instances on a same host)
# - "proxynet": External network for public access (assumed to be managed by a reverse proxy)
#
# Volumes:
# - "db_data": Persistent storage for the MySQL database
#
services:
  {{db_ID}}:
    image: mysql:5.7
    container_name: sql.${USERNAME}
    restart: always
    environment:
      - MYSQL_DATABASE=equal
      - MYSQL_ROOT_PASSWORD=${PASSWORD}
    networks:
      # database is not exposed on the public network (proxynet)
      - internal_{{db_ID}}
    volumes:
      - db_data_{{db_ID}}:/var/lib/mysql
      # map local file for custom config (e.g. `max_allowed_packet`)
      - ./mysql.cnf:/etc/mysql/conf.d/custom.cnf
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin.${USERNAME}
    restart: always
    environment:
      - PMA_HOST={{db_ID}}
      # login page requires HTTPS, so we must redirect even if no valid certificate is set
      - HTTPS_METHOD=redirect
      - VIRTUAL_PORT=80
      - VIRTUAL_HOST=phpmyadmin.${USERNAME}
      - UPLOAD_LIMIT=100M
      - MAX_EXECUTION_TIME=3600
      - MEMORY_LIMIT=512M
    networks:
      - internal_{{db_ID}}
      - proxynet
    depends_on:
      - {{db_ID}}
  equal:
    image: equalframework/equal
    container_name: ${USERNAME}
    restart: always
    volumes:
      - opt_bin_cache:/opt/bin
      - ./www/.:/var/www/html
      # map local file for custom config (e.g. `upload_max_filesize`)
      - ./php.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./mpm_prefork.conf:/etc/apache2/mods-available/mpm_prefork.conf
    extra_hosts:
      # If instance calls itself through HTTP, force sending the requests to the reverse proxy
      - "${USERNAME}:${EXTERNAL_IP_ADDRESS}"
    environment:
      - EQ_DB_HOST={{db_ID}}
      - EQ_DB_USER=root
      - EQ_DB_PASS=${PASSWORD}
      - EQ_DB_NAME=equal
      - EQ_CIPHER_KEY=${CIPHER_KEY}
      # minimum amount of memory that must be available for handling a request (`MEM_LIMIT` has a distinct meaning [= max usage] and should not be used here)
      - EQ_MEM_LIMIT=1000M
      # todo - use a dedicated var in .env file
      - EQ_MEM_FREE_LIMIT=1000M
      # todo - create a var in .env file
      # - EQ_MEM_FREE_LIMIT=${EQ_MEM_FREE_LIMIT}
      # remember to disable following line once the SSL certificate has been set up
      - HTTPS_METHOD=${HTTPS_REDIRECT}
      # nginx config is set to add a www. subdomain to each virtual host
      - VIRTUAL_PORT=80
      - VIRTUAL_HOST=${USERNAME}
      # all domains that require a SSL cert (necessary fr direct HTTPS connection)
      # by convention we leave www.DOMAIN_NAME HTTP only, it will be redirected to https://DOMAIN_NAME
      - LETSENCRYPT_HOST=${USERNAME}
      - LETSENCRYPT_EMAIL=contact@${USERNAME}
    networks:
      - internal_{{db_ID}}
      - proxynet
    depends_on:
      - {{db_ID}}
    deploy:
      resources:
        limits:
          cpus: ${CPU_LIMIT}
          memory: ${MEM_LIMIT}
# Expose the services through the 'proxynet' which contains a nginx reverse proxy.
# Only services having a VIRTUAL_HOST environment are accessible.
networks:
  internal_{{db_ID}}:
    driver: bridge
  proxynet:
    external: true
volumes:
  db_data_{{db_ID}}:
  opt_bin_cache:
